Checks: >
  -*,
  bugprone-*,
  modernize-*,
  -modernize-pass-by-value,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -modernize-redundant-void-arg,
  performance-*,
  readability-*,
  -readability-convert-member-functions-to-static,
  -readability-qualified-auto
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle: none
